@import './header';

section {
    background-color: #efefef;
}

.common_container {
    width: 1072px;
    height: 720px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
}

.common_container>.hanzi,
.common_box>.container>.hanzi {
    line-height: 30px;
    text-align: center;
    height: 30px;
    display: block;
    font-size: 30px;
    color: #666;
}

.common_container>.english,
.common_box>.container>.english {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 247px;
    line-height: 20px;
    text-align: center;
    height: 20px;
    display: block;
    color: #666;
    padding: 10px 0;
    border-bottom: 1px solid #d6d3d3;
}

.common_container>hr,
.common_box>.container>hr {
    position: relative;
    left: 0;
    right: 0;
    top: -3px;
    margin: auto;
    width: 52px;
    height: 5px;
    background-color: #4fac13;
    border: none;
}

.common_container:first-child>hr {
    height: 3px;
    top: -2px;
}

.common_container>.box {
    margin-top: 31px;
    display: flex;
    height: 565px;
    width: 100%;
    justify-content: space-between;
}

.common_container>.box>.container {
    background-color: #fff;
    margin: 0;
    width: 338px;
    height: 565px;
}

.common_container>.box>.container>.photo {
    height: 174px;
    background-image: url(../images/商品_04.jpg);
    margin-bottom: 10px;
}

.common_container>.box>.container>.percent {
    margin: 10px 0;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
}

.common_container>.box>.container>.percent>span:first-child {
    font-size: 32px;
    font-weight: bold;
    color: #fc6808;
}

.common_container>.box>.container>.percent>span:nth-child(2) {
    font-size: 26px;
    color: #fc6808;
}

.common_container>.box>.container>.percent>span:nth-child(3) {
    display: block;
    color: #fc6808;
    font-size: 14px;
}

.common_container>.box>.container>span {
    display: block;
    font-weight: bold;
    margin: 20px;
}

.common_container>.box>.container>.item {
    height: 14px;
    display: flex;
    margin: 23px;
}

.common_container>.box>.container>.item>div {
    font-size: 14px;
}

.common_container>.box>.container>.item>div.dashed {
    flex: 1;
    height: 1px;
    margin: 8px;
    border-top: 1px dashed #a6a6a6;
}

.common_container>.box>.container>.item:nth-child(8)>div:first-child {
    background-color: #51ac14;
    height: 7px;
    width: 265px;
    margin: 4px 0;
    border-radius: 5px;
}

.common_container>.box>.container>button {
    margin: 10px 95px;
    margin-top: 10px;
    width: 125px;
    height: 36px;
    border-radius: 20px;
    border: 1px solid transparent;
}

.common_container>.box>.container>.sell_out {
    position: relative;
    top: -95px;
    left: 197px;
    width: 141px;
    height: 112px;
    background-image: url(../images/售罄.png);
}

div.more,
div.register>div>div {
    /* margin: 10px 0; */
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    height: 55px;
    width: 235px;
}

div.more button,
div.register>div>div>button {
    height: 55px;
    width: 235px;
    background-color: #51ac14;
    border: 1px solid transparent;
    border-radius: 40px;
    font-size: 20px;
    color: #f6f9f3;
}

.common_box {
    margin-top: 45px;
    width: 100%;
    height: 445px;
    background-color: #fff;
}

.common_box>.container {
    width: 1072px;
    height: 320px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 65px;
}

.common_box>.container>.hanzi {
    color: #000;
}

.common_box>.container>.english {
    width: 290px;
}

.common_box>.container>.box {
    height: 195px;
    display: flex;
    margin-top: 55px;
}

.common_box>.container>.box>.money {
    height: 195px;
    width: 536px;
    display: flex;
}

.common_box>.container>.box>.money:last-child {
    height: 180px;
    border-left: 1px dashed #e5e5e5;
}

.common_box>.container>.box>.money:first-child>.img {
    height: 195px;
    width: 168px;
    background-image: url(../images/icon.png);
}

.common_box>.container>.box>.money:first-child>div:last-child {
    margin-left: 65px;
    margin-top: 75px;
}

.common_box>.container>.box>.money:first-child>div>span:first-child {
    color: #fd8130;
    display: block;
    font-size: 24px;
}

.common_box>.container>.box>.money:first-child>div>span:nth-child(2) {
    display: inline-block;
    color: #fd8130;
    font-size: 44px;
    font-weight: bolder;
}

.common_box>.container>.box>.money:first-child>div>span:last-child {
    display: inline-block;
    color: #fd8130;
    font-size: 24px;
}

.common_box>.container>.box>.money:last-child>.img {
    margin-left: 35px;
    margin-top: 20px;
    height: 147px;
    width: 158px;
    background-image: url(../images/icon2.png);
}

.common_box>.container>.box>.money:last-child>div:last-child {
    margin-left: 40px;
    margin-top: 75px;
}

.common_box>.container>.box>.money:last-child>div>span:first-child {
    color: #68b733;
    display: block;
    font-size: 24px;
}

.common_box>.container>.box>.money:last-child>div>span:nth-child(2) {
    display: inline-block;
    color: #51ac14;
    font-size: 44px;
    font-weight: bolder;
}

.common_box>.container>.box>.money:last-child>div>span:last-child {
    display: inline-block;
    color: #68b733;
    font-size: 24px;
}

.common_container:nth-child(4) {
    height: 1115px;
}

.common_container>.grid {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(2, 50%);
    height: 976px;
    /* justify-content: space-between; */
    grid-gap: 12px;
}

.common_container>.grid>.container {
    height: 470px;
}

.common_container>.grid>.container>.item:nth-child(4)>div:last-child {
    color: #fc6808;
}

.common_container>.grid>.container>.item:nth-child(5)>div:last-child {
    color: #58b718;
}

.common_container>.grid>.container:nth-child(1)>.photo {
    background-image: url(../images/bg2.jpg);
}

.common_container>.grid>.container:nth-child(2)>.photo {
    background-image: url(../images/bg5.jpg);
}

.common_container>.grid>.container:nth-child(3)>.photo {
    background-image: url(../images/bg6.jpg);
}

.common_container>.grid>.container:nth-child(4)>.photo {
    background-image: url(../images/bg1.jpg);
}

.common_container>.grid>.container:nth-child(5)>.photo {
    background-image: url(../images/bg3.jpg);
}

.common_container>.grid>.container:nth-child(6)>.photo {
    background-image: url(../images/bg4.jpg);
}

.experts {
    height: 465px;
}

.experts>.container>.box {
    margin-top: 40px;
    height: 220px;
}

.common_box>.container>.box>.expert {
    margin: 0 55px;
    height: 150px;
}

.common_box>.container>.box>.expert>.img {
    width: 146px;
    height: 146px;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    margin-bottom: 30px;
}

.common_box>.container>.box>.expert>.img>div {
    margin: 4px;
    width: 135px;
    height: 135px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.common_box>.container>.box>.expert:nth-child(1)>.img>div {
    background-image: url(../images/头像2.jpg);
}

.common_box>.container>.box>.expert:nth-child(2)>.img>div {
    background-image: url(../images/头像4.jpg);
}

.common_box>.container>.box>.expert:nth-child(3)>.img>div {
    background-image: url(../images/头像1.jpg);
}

.common_box>.container>.box>.expert:nth-child(4)>.img>div {
    background-image: url(../images/头像3.jpg);
}

.common_box>.container>.box>.expert:nth-child(1)>div:nth-child(2),
.common_box>.container>.box>.expert:nth-child(1)>div:nth-child(3) {
    text-align: center;
    color: #666;
}

.common_box>.container>.box>.expert:nth-child(2)>div:nth-child(2),
.common_box>.container>.box>.expert:nth-child(2)>div:nth-child(3) {
    text-align: center;
    color: #666;
}

.common_box>.container>.box>.expert:nth-child(3)>div:nth-child(2),
.common_box>.container>.box>.expert:nth-child(3)>div:nth-child(3) {
    text-align: center;
    color: #666;
}

.common_box>.container>.box>.expert:nth-child(4)>div:nth-child(2),
.common_box>.container>.box>.expert:nth-child(4)>div:nth-child(3) {
    text-align: center;
    color: #666;
}

.experts>.container>.page {
    position: relative;
    left: 485px;
    display: flex;
    top: 15px;
}

.experts>.container>.page>button {
    width: 43px;
    height: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 0;
    background-color: #999;
}

.experts>.container>.page>button:first-child {
    background-color: #4fac13;
}

.coverage {
    height: 590px;
}

.coverage>.box {
    width: 100%;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 35px;
}

.coverage>.box>.dialog>.container {
    width: 492px;
    height: 185px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
}

.coverage>.box>.dialog>.tri {
    width: 0;
    height: 0;
    border-width: 25px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #fff;
    position: relative;
    top: -25px;
    left: 28px;
}

.coverage>.box>.dialog>.container>.title {
    margin-top: 30px;
    margin-left: 20px;
}

.coverage>.box>.dialog>.container>.fl {
    display: flex;
}

.coverage>.box>.dialog>.container>.fl>.img {
    margin: 20px;
    background-image: url(../images/new1.jpg);
    height: 100px;
    width: 160px;
}

.coverage>.box>.dialog>.container>.fl>div>.content {
    height: 80px;
    width: 240px;
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
    line-height: 20px;
}

.coverage>.box>.dialog>.container>.fl>div>.time {
    height: 80px;
    width: 240px;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.coverage>.box>.dialog:nth-child(1)>.container>.fl>.img {
    background-image: url(../images/new1.jpg);
    z-index: 11;
}

.coverage>.box>.dialog:nth-child(2)>.container>.fl>.img {
    background-image: url(../images/new2.jpg);
    z-index: 11;
}

.coverage>.box>.dialog:nth-child(3)>.container>.fl>.img {
    background-image: url(../images/new3.jpg);
    z-index: 11;
}

.coverage>.box>.dialog:nth-child(4)>.container>.fl>.img {
    background-image: url(../images/new4.jpg);
    z-index: 11;
}

div.register {
    width: 100%;
    height: 215px;
    background-color: #fff;
}

div.register>div {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 1072px;
    top: 50px;
}

div.register>div>.text {
    width: 510px;
    height: 35px;
    margin-top: 50px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
}

div.register>div>div {
    margin-top: 30px;
}

div.register>div>div>button {
    background-color: #fd6706;
}

footer {
    width: 100%;
    height: 270px;
    background-color: #15262f;
}

footer>.container {
    width: 1072px;
    height: 100%;
}

footer>.container>.main {
    position: relative;
    top: 10px;
    height: 105px;
    width: 100%;
    padding: 18px 5px;
    border-bottom: 1px solid #899195;
    display: flex;
}

footer>.container>.main>.box:first-child {
    padding-right: 58px;
    border-right: 1px solid #899195;
}

footer>.container>.main .logo {
    height: 55px;
    width: 140px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer>.container>.main .text {
    height: 30px;
    width: 135px;
    font-size: 23px;
    color: #f0f1f1;
}

footer>.container>.main>.box:nth-child(2) {
    padding-left: 45px;
    padding-right: 35px;
    border-right: 1px solid #899195;
}

footer>.container>.main .phone {
    height: 26px;
    line-height: 26px;
    width: 145px;
    font-size: 21px;
    color: #f0f1f1;
}

footer>.container>.main .state {
    line-height: 22px;
    height: 22px;
    width: 166px;
    color: #f0f1f1;
}

footer>.container>.main>.box:nth-child(3),
footer>.container>.main>.box:nth-child(4) {
    padding-left: 20px;
    padding-right: 30px;
    border-right: 1px solid #899195;
}

footer>.container>.main>.box:nth-child(3)>.title,
footer>.container>.main>.box:nth-child(5)>.left>.title,
footer>.container>.main>.box:nth-child(4)>.title {
    line-height: 22px;
    height: 22px;
    width: 65px;
    color: #f0f1f1;
}

footer>.container>.main>.box:nth-child(3)>ul,
footer>.container>.main>.box:nth-child(4)>ul {
    margin-left: 20px;
    line-height: 22px;
    height: 22px;
    width: 65px;
    color: #999;
}

footer>.container>.main>.box:nth-child(3)>ul>li,
footer>.container>.main>.box:nth-child(4)>ul>li {
    font-size: 14px;
}

footer>.container>.main>.box:nth-child(5) {
    display: flex;
}

footer>.container>.main>.box:nth-child(5)>.left {
    font-size: 14px;
    width: 88px;
    height: 65px;
    padding-left: 50px;
}

footer>.container>.main>.box:nth-child(5)>.left>.title {
    font-size: 16px;
    width: 96px;
}

footer>.container>.main>.box:nth-child(5)>.left>div {
    display: flex;
}

footer>.container>.main>.box:nth-child(5)>.left .share {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-top: 10px;
}

footer>.container>.main>.box:nth-child(5)>.left .share:nth-child(1) {
    background-image: url(../images/share_13.jpg);
    margin-right: 16px;
}

footer>.container>.main>.box:nth-child(5)>.left .share:nth-child(2) {
    background-image: url(../images/share_15.jpg);
}

footer>.container>.main>.box:nth-child(5)>.right {
    display: flex;
    width: 180px;
    height: 100px;
    /* background-color: red; */
    margin-left: 30px;
    margin-right: 20px;
    justify-content: space-around;
}

footer>.container>.main>.box:nth-child(5)>.right>.erweima>.img {
    width: 69px;
    height: 69px;
    background-image: url(../images/erweima.jpg);
}

footer>.container>.main>.box:nth-child(5)>.right>.erweima>div:last-child {
    width: 70px;
    color: #999;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
}

footer>.container>.copyright {
    height: 40px;
    width: 370;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    color: #999;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}