// sass 的继承语法 

@import "./var";

.box{
    width : 100px;
    height: 100px;
    background-color: $bg ;
}

// @extend 类名
.pox{
    @extend .box;
    margin-top: 20px;
}

// 代码拆分 : 
// 我们可以把庞大的代码拆分成n个部分, 这n个部分的代码量都可以控制在一定范围之内。 如果有复用的代码我们可以使用 @mixin 进行封装; 

// 1. 编写独立的sass文件; 
//  - 独立的sass文件是不会被独立编译的! 
//  - 在sass文件命名的时候前缀以 _ 开头这个文件就不会被独立编译; 

// 2. 模块的含义 : 把多个模块的内容编译到一个文件之中; 

// 3. 我们需要把独立编写的模块引入到某个sass文件之中;
@import "./top-nav";

// 4. 开发规范 : 所有的变量, 所有的混合 全部要放在独立的模块之中; 
