<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul v-cloak>
            <li :key="index" v-for="(item, index) in items">
                <span>{{item.name}}</span>
                <span>{{item.score}}</span>
                <span v-if="item.score >= 90">优秀</span>
                <span v-else-if="item.score >= 70 && item.score < 90">良好</span>
                <span v-else-if="item.score >= 60 && item.score < 70">中等</span>
                <span v-else="item.score < 10">不及格</span>
            </li>
        </ul>
    </div>
</body>
<script src="./js/Vue.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {

        }
    })
</script>
</html>