@import "./about_var";

.container{
    background-color: $about_container_bgcolor; 
    display: flex;
    flex-direction: column;
    align-items: center;
    .word1{
        height: 40px;
        margin-top: 0px;
        font-size: 30px;
        color: $about_container_color;
    }
    .word2{
        height: 25px;
        font-size: 18px;
        color:$about_container_color;
    }
    line1{
        height: 4px;
        margin-top: 0;
    }
}