@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* 导航栏样式 */
.nav {
  width: 100%;
  height: 62px;
  background-color: #232323;
}
.nav .content {
  width: 1000px;
  margin: 0 auto;
}
.nav img {
  float: left;
  margin-top: 10px;
}
.nav .nav-list {
  float: left;
  margin-left: 178px;
  line-height: 62px;
  color: white;
}
.nav .nav-list div {
  float: left;
  padding: 0 7px;
  border-right: 2px solid #444444;
  text-align: center;
  height: 17px;
  margin-top: 23px;
  line-height: 17px;
}
.nav .nav-list div.last {
  border-right: none;
}

/* 中间主体样式 */
.main {
  width: 100%;
  height: 350px;
  background-color: whitesmoke;
}
.main .center {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  top: 25px;
}
.main .center .item {
  width: 250px;
  height: 300px;
  margin-top: 15px;
  float: left;
  text-align: center;
}
.main .center .item div {
  color: grey;
}
.main .center .item img {
  height: 100px;
}

/* 中下部样式 */
.middle {
  width: 1000px;
  margin: 0 auto;
}
.middle .tupian {
  width: 300px;
  height: 300px;
  float: left;
}
.middle .zhongjian {
  width: 350px;
  margin-left: 20px;
  float: left;
  border-right: 1px dashed #999999;
}
.middle .zhongjian span {
  font-size: 15px;
  color: #999999;
}
.middle .zhongjian .continer {
  border-bottom: 1px dashed #999999;
  margin-right: 25px;
}
.middle .zhongjian .ad {
  margin-top: 20px;
}
.middle .zhongjian .ad ul li {
  list-style: none;
}

.number {
  width: 250px;
  margin-left: 20px;
  float: left;
}
.number p {
  color: #666666;
  font-size: 30px;
  margin-top: 10px;
}
.number .dianhua {
  margin-top: 25px;
}
.number .dianhua span {
  display: block;
  color: #666666;
}

/* 中间渐进样式 */
.pic {
  width: 100%;
  height: 420px;
  background: linear-gradient(to bottom, #4a7d90, skyblue, whitesmoke);
}

/* 底部 */
footer {
  width: 100%;
}