<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" value="a" v-model="arr">a
        <input type="checkbox" value="b" v-model="arr">b
        <input type="checkbox" value="c" v-model="arr">c
        <input type="checkbox" value="d" v-model="arr">d
        <div>
          {{ arr }}
        </div>
    </div>
    <script src="./lib/vue.js"></script>
    <script>
        new Vue({
            el : "#app",
            data : {
                arr : ["c"] 
            }
        })
    </script>
</body>
</html>